/* Letra capital
---------------------------------------------- */

span.capi {
	float: left;
	margin: 0;
	font-size: 3em;
	color: #666666;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-weight: normal;
	padding-top: 0em;
	padding-right: 0.1em;
	text-transform: capitalize;
	visibility: visible;
	height: 1em;
	line-height: 1em;
	padding-bottom: 0px;
	display: block;
	vertical-align: baseline;
	}

span.titulo {
	font-family: Georgia, "Times New Roman", Times, serif;
	font-weight: normal;
	color: #666666;
	font-size: 2em;
	line-height: 100%;
	margin-bottom: 0.2em;
}
.cuadroresaltado
{
	border:1px solid #93b06e;
	background-color:#d7eebb;
	padding:2px;
}

.letraresaltado
{
	color:#1e83ef;
	font-weight:bold;
}
