body {
	background-color:#FFFFFF ;
	background-image:url('webfondo/fondo.jpg'); background-repeat:repeat-x;
	margin-top:0px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	line-height: 1.5em;	
	color:#000000;

}
#cabecera
{
	overflow: hidden;
	margin: 0px auto 0px auto;
	padding:0px;
	width:980px;
	height:40px;
	background-color: #002E60;
	dddbackground-image: url(http://www.helisur.com.pe/estilos/webplan/cabecera.jpg);
	background-image: url('webplan/cabecera.png');
} 
#cabeceramenu
{
	overflow: hidden;
    margin: 0px auto 0px auto;
	padding:0px;
	width:980px;
	height:140px;
	background:url('webplan/cabeceramenu.png');
}
#cabecerabanner{
	width:980px;
	overflow: hidden;
    margin: 0px auto 0px auto;
	padding:0px;
}
#cabeceracontenido
{
	overflow: hidden;
    margin: 0px auto 0px auto;
	padding:0px;
	width:980px;
	height:px;
	background:#FFFFFF url('webplan/');
}

#cuerpo {
    overflow: hidden;
    margin: 0px auto 0px auto;
	padding:0px;
	width:980px;
	background:#FFFFFF url('webplan/');
}
#columnaizquierda{
	width:0px;
	float: left;
	padding:0px;
    text-align: left;
}
#columnacentro {
	width:700px;
	padding-right: 15px;
	padding-left: 15px;
	float: left;
}

#columnacentro H2 {
	font-family: Helvetica, Arial, sans-serif;
	font-size: 16px;
	font-style: normal;
	font-weight: normal;
	text-transform: uppercase;
	letter-spacing: 1px;
	line-height: 1.2em;
	margin-top: 0.3em;
	margin-bottom: 1em;
	color: #d41133;
}
#columnaderecha {
	width:250px;
	float: left;
	padding:0px;
    text-align: left;
}
#piepaginamenu
{
	overflow: hidden;
    margin: 0px auto 0px auto;
	padding:0px;
	width:980px;
	height:180px;
	background:#FFFFFF url('webplan/piemenu.jpg');
} 
#piepagina
{
	overflow: hidden;
    margin: 0px auto 0px auto;
	padding:0px;
	width:980px;
	height:80px;
	background:#FFFFFF url('webplan/piepagina.jpg');
}

ul#menusuperior
{
	list-style: none;
	padding-left:265px;
	padding-right:0px;
	padding-top:0px;
	float:left;
	margin-top: 0 auto 0 auto;
	padding-bottom: 0;
}
ul#menusuperior li
{
	display: block;
	float: left;
	margin: 0;
	padding:0px;
}
ul#menusuperior li a
{
	display: block;
	width: 100%;
	margin-top:10px;
	margin-bottom:10px;
	padding-left:10px;
	padding-right:10px;
	border-left:#FFF solid 1px;
	height:20px;
	font-family: Helvetica, Arial, sans-serif; 
	font-size: 12px; 
	font-variant: small-caps;
	color:#FFFFFF;
	text-align:center;
}
ul#menusuperior li a { width: auto; }
ul#menusuperior li#active a
{
	color:#FFFFFF;
}
ul#menusuperior li a:hover, 	ul#menusuperior li#active a:hover
{
	color:#FFFFFF;
}
ul#menusuperior li a span:hover, 	ul#menusuperior li#active a span:hover
{
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #FFF;
}
ul#menusuperior li a.last_es
{
	background-image: url('webplan/workicon.png');
	background-repeat: no-repeat;
	background-position: 10px center;
	padding-left: 50px;
	margin-left: 120px;
	height:21px;
}

ul#menusuperior li a.last_en
{
	background-image: url('webplan/workicon.png');
	background-repeat: no-repeat;
	background-position: 10px center;
	padding-left: 50px;
	margin-left: 230px;
	height:21px;
}
#izqmenu {  
	list-style:none;
	margin:0px;
	padding:0px;
}
#izqmenu li {
	width:100%;
	text-align:left;
}
#izqmenu li a {
	display:block;
	height:25px;
	\ height:30px;	
	padding-top:5px;
	padding-left:55px;
	color:#092E59;
	background:#FFFFFF url('webplan/menuizqitem.jpg');
	text-decoration:none;
	font-family:Arial, Helvetica, sans-serif;
	font-size: 1em;
}
#izqmenu li#activemenu a
{
	color:#092E59;
	background:#FFFFFF url('webplan/menuizqitem.jpg');
}
#izqmenu li a:hover, 	#izqmenu li#activemenu a:hover
{
	color:#092E59;
	background:#FFFFFF url('webplan/menuizqitem.jpg');
}
#izqmenu li#menuizqtitulo 
{
	height:20px;
	\ height:70px;	
	padding-top:50px;
	background:#FFFFFF url('webplan/menuizqtitulo.jpg');
}
#izqmenu li#menuizqtitulo span
{
	color:#D10024;
	padding-left:37px;
	font-family: 'Lucida Sans', sans-serif, verdana, arial, helvetica;
	font-weight:normal;
	font-size: 1em;
	text-transform: uppercase;
	text-align: center;
	margin-right: auto;
	margin-left: auto;
}

#izqmenu li#menuizqtituloen 
{
	height:20px;
	\ height:70px;	
	padding-top:50px;
	background:#FFFFFF url('webplan/menuizqtituloen.jpg');
}
#izqmenu li#menuizqtituloen span
{
	color:#D10024;
	padding-left:37px;
	font-family: 'Lucida Sans', sans-serif, verdana, arial, helvetica;
	font-weight:normal;
	font-size: 1em;
	text-transform: uppercase;
}
#izqmenu li#menuizqpie
{
	height:30px;
	background:#FFFFFF url('webplan/menuizqpie.jpg');
}
